# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Sample Test data https://lms.curtin.edu.au/bbcswebdav/pid-6116951-dt-content-rid-31780287_1/xid-31780287_1
SampleData/*
!*.folder
*.dll
.classpath
.project
.externalToolBuilders
/bin/
